login-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: url('./login-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
}

.login-view-avatars {
    width: 20em;
    display:flex;
    flex-wrap: wrap;
    height: 14em;
    overflow-y: scroll;
    border: 1px solid var(--lumo-contrast-10pct);
    border-radius: var(--lumo-border-radius);
}

.login-view-avatars img{
    width: 2.5em;
    padding: 0.75em;
    border-radius: var(--lumo-border-radius);
}

.image-attribution {
  color: rgba(255, 255, 255, 0.5);
}

.image-attribution a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
}
